body {
    background-color: #0b0c10;
    color: #c5c6c7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.hidden { display: none !important; }

#game-app { width: 100%; max-width: 1200px; display: flex; }

/* The Lobby */
#lobby-view { 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    width: 100%;
}

.view { width: 100%; display: flex; flex-direction: column; }

/* The Action Areas */
.image-area { flex: 2; background: #000; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.image-area img { width: 100%; height: 100%; object-fit: cover; opacity: 0.6; }

.text-area, .control-panel { 
    flex: 1; 
    padding: 40px; 
    background: #1f2833; 
    border-top: 2px solid #45a29e; 
}

/* Buttons and Inputs */
.option-btn { 
    background: transparent; 
    border: 1px solid #66fcf1; 
    color: #66fcf1; 
    padding: 10px 20px; 
    margin-right: 10px; 
    cursor: pointer; 
    transition: 0.3s;
}

.option-btn:hover { background: #66fcf1; color: #0b0c10; }

textarea, input { 
    width: 100%; 
    background: #0b0c10; 
    border: 1px solid #45a29e; 
    color: white; 
    padding: 10px; 
    margin-bottom: 15px; 
}

#send-update { background: #45a29e; color: white; border: none; padding: 15px; cursor: pointer; width: 100%; }